.floating-messages-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.love-button {
    background-color: #C4CDD4;
    /* padding: 10px 20px; */
    padding: 30px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ACB9C3;
    display: block;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

.love-button:active,
.love-button:hover {
    background-color: #ACB9C3;
    border: 2px solid #95A5B2;
}

.message {
    position: absolute;
    animation: floatUp 5s ease-in-out forwards;
    font-size: 30px;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-500px);
        /* Adjust as needed */
    }
}