.footer {
    background-color: #F1EBE0;
    /* color: linear-gradient(to right, #EE9880, #F0C6C4, #F0C45F, #AECDD2, #69A0A9); */
    /* Create a gradient */
    background: linear-gradient(to right,
        #EE9880,
        #F0C6C4,
        #F0C45F,
        #AECDD2,
        #69A0A9);

    /* Clip the background to the text */
    background-size: 20% auto;
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text transparent to show the background */
    color: transparent;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    font-size: 20px;
    font-weight: 800;
    padding-top: 2%;
}